# https://github.com/atc0005/list-emails

# Purpose:
#
#   Account credentials and server settings for various email accounts
#    that we monitor

[account1]

username =
password =
folders = Inbox, Junk E-Mail

[account2]

username =
password =
folders = Inbox, Junk E-Mail

[account3]

username =
password =
folders = Inbox, Junk E-Mail
