
h4. {account}

_TIMESTAMP: {timestamp}, FOLDER: {folder}_

* {list_of_emails}

h5. Deleted emails

* placholder

h5. Reported emails

* placeholder

h5. Emails moved to applicable folders

* placeholder

